body {
    margin: 0;
    padding: 0;
    background-color: rgb(169, 233, 224);
    font-family: 'KoHo', sans-serif;
}
h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
}
.container {
    background-color: white;
    margin: 0 20%;
}
.row {
    padding: 1%;
    text-align: center;
}
.labels {
    display: inline-block;
    width: 45%;
    text-align: right;
    margin-right: 12px;
    vertical-align: top;
}
.right-row{
    display: inline-block;
    width: 45%;
    text-align: left;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;    
}
select, textarea {
    position: relative;
    top: 18px;  
    vertical-align: bottom;
}
input[type="submit"]{
    margin-top: 30px;
    background-color: gray;
    color: antiquewhite;
    width: 10%;
    padding: 5px;
    border: 2px solid black;
}
input[type="submit"]:active{
    background-color: rgb(169, 233, 224);
}
textarea {
    display: inline-block;
    width: 65%;
}

@media (min-width: 700px){

}
